name: "Terraform Apply"

on:
  workflow_dispatch:

env:
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Upload Configuration
      uses: hashicorp/tfc-workflows-github/actions/upload-configuration@v1.0.4
      
    - name: terraform init
      run: |
        terraform init
        path: ./terraform/ecs
